@import "tailwindcss";

html, body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  /* 0.7 seconds is about slightly more than twice as slow as Astro's native speed */
  animation-duration: 0.7s !important;
  
  /* Logarithmic S-Curve: Starts with zero velocity (slow), ramps up to maximum speed in the middle, and coasts gracefully to a stop */
  animation-timing-function: cubic-bezier(0.65, 0, 0.1, 1) !important;
}