@import "tailwindcss";

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

::view-transition-group(page-content),
::view-transition-old(page-content),
::view-transition-new(page-content) {
  /* 0.7 seconds is about slightly more than twice as slow as Astro's native speed */
  animation-duration: 1.2s !important;

  /* The custom snappy bezier curve that looks best for the UI slide */
  animation-timing-function: cubic-bezier(0.65, 0, 0.1, 1) !important;
}